<div class="row">
  <div class="col-md-12">
    <div>
      <h3 style="font-size: 14px; text-transform: uppercase; font-weight: bold;">
        Linkin Park Burn It Down
      </h3>
      <div>
        <p style="color: #7b7b7b">
          Linkin Park Burn It Down Linkin Park Burn It Down Linkin Park Burn It Down
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-left" style="font-size: 16px;">
      <b>Related Posts</b>
    </div>
  </div>
  <div class="col-md-4">
    <div style="background-image: url('app/assets/img/forest.png'); height: 150px; background-position: 25% 25%">
    </div>
    <span class="text-center" style="display: block">
      <b>
        dasdsad
      </b>
    </span>
    <span class="text-center" style="display: block">
      Ngay
    </span>
  </div>
  <div class="col-md-4">
    <div style="background-image: url('app/assets/img/forest.png'); height: 150px;">
    </div>
  </div>
  <div class="col-md-4">
    <div style="background-image: url('app/assets/img/forest.png'); height: 150px;">
    </div>
  </div>
</div>
