<div class="row">
  <div class="col-sm-5 col-md-offset-3">
    <img class="img-responsive" src="app/assets/img/logo.png">
  </div>
</div>
<div class="row main-wrapper">
  <div class="col-md-offset-1 col-md-10">
    <div class="col-md-8" ui-view></div>
    <div class="col-md-3 col-md-offset-1 sidebar-wrapper">
      <div class="row">
        <h4>
          About me
        </h4>
        <div class="col-md-8 col-md-offset-2">
          <img class="img-circle img-responsive img-center" src="app/assets/img/avatar.png">
        </div>
      </div>
      <div class="row latest-posts-wrapper">
        <h4>
          Lastest Posts
        </h4>
        <div>
          <ul class="list-unstyled">
            <li class="clearfix">
              <div class="pull-left post-thumbnail">
                <img class="img-responsive img-circle" src="app/assets/img/avatar.png">
              </div>
              <div class="pull-left">
                <div class="title">
                  <a>
                    dasdsad
                  </a>
                </div>
                <span class="date-post">dsadasd</span>
              </div>
            </li>
            <li class="clearfix">
              <div class="pull-left post-thumbnail">
                <img class="img-responsive img-circle" src="app/assets/img/avatar.png">
              </div>
              <div class="pull-left">
                <div class="title">
                  <a>
                    dasdsad
                  </a>
                </div>
                <span class="date-post">dsadasd</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h4>
          Categories
        </h4>
        <div>
          <ul class="list-unstyled">
            <li class="clearfix category">
              <a>
                Life Post
              </a>
            </li>
            <li class="clearfix category">
              <a>
                Life Post
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>