<div class="row" style="margin-top: 20px;">
  <div class="col post-wrapper">
    <div class="user-info-wrapper">
      <div class="row">
        <div class="col-20">
          <img class="img-circle img-responsive avatar" src="app/assets/img/default_grayman.png">
        </div>
        <div class="col-80 user-info">
          <div>{{user}}</div>
          <div>Post day here</div>
        </div>
      </div>
    </div>
    <div class="post-info-wrapper">
      {{info.content}}
    </div>
    <div class="social-button-wrapper">
      <div class="pull-left">
        <button>Like</button>
      </div>
      <div class="pull-left"><button>Share</button></div>
    </div>
  </div>
</div>