<div id="admin-wrapper">
	<div class="row">
		<div id="header-wrapper"></div>
	</div>
	<div class="row">
		<div id="sidebar-wrapper">
			<ul class="list-unstyled text-center" style="font-size: 30px; color: #515253">
			  <li style="position: relative; margin-top: 15px">
					<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
					<div style="position: absolute; font-size: 10px; top: 0; right: 5px; background-color: #23b7e5; min-width: 15px; color: white">5</div>
				</li>
				<li style="position: relative; margin-top: 15px">
					<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
					<div style="position: absolute; font-size: 10px; top: 0; right: 5px; background-color: #23b7e5; min-width: 15px; color: white">5</div>
				</li>
				<li style="position: relative; margin-top: 15px">
					<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
					<div style="position: absolute; font-size: 10px; top: 0; right: 5px; background-color: #23b7e5; min-width: 15px; color: white">5</div>
				</li>
			</ul>
		</div>
		<div id="main-wrapper">
			<div class="row no-margin">
				<div id="main-title-wrapper">
					<p>Title </p>
					<p>Summary</p>
				</div>
				<div ui-view></div>
			</div>
		</div>
	</div>
</div>
